# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
sentiment_analysis_env/
.env

# IDE
.idea/
.vscode/
*.swp
*.swo

# Jupyter Notebook
.ipynb_checkpoints

# Kaggle API
kaggle.json

# Data files
*.json
*.pkl
*.h5

# Environment variables
.env

# Project specific
src/models/
src/misc/
*.h5
*.pb
*.json
!package.json
*.db

# Visualization files
*_training_history.png
*_confusion_matrix.png
roberta_*.png

# Jupyter Notebooks
notebooks/

# OS specific
.DS_Store
Thumbs.db

# Logs
logs/
*.log 